# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
debug.log

# Build artifacts
dist/
build/
.cache/
.out/
.next/
coverage/

# Database
*.sqlite
*.sqlite3
db.json
dump.rdb

# Misc
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Frontend
frontend/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Pulumi
.pulumi/
pulumi/venv*
Pulumi.dev.yaml
Pulumi.yaml
Pulumi.*.yaml
*.key

# Kubernetes
*.yaml~       # temp files
*.yml~        # temp files
.kube/
*.kubeconfig
kubeconfig
*.tmp.yaml
*.bak.yaml

# Helm
charts/
Chart.lock
*.tgz
helm-release.yaml
.values.yaml
values.override.yaml

# Argo CD
.manifests/
argo-cd/
argocd/
argocd-app.yaml
applicationsets/
argocd-install.yaml
*.argocd.yaml

# Archive
archive/

# k8s
default-k8s-environments/

# helms-k8s-environments
helms-k8s-environments/

# argo-k8s-environments
argo-k8s-environments/